---
layout: default
---

<div class="home">
  <p class="description-well">{{ site.description }}</p>
  <h3>This Site</h3>
  <div class="some-section">
    <a href="/blog.html">
      <p class="bubble-link">Blog</p>
    </a>
    <a href="/projects.html">
      <p class="bubble-link">Projects</p>
    </a>

    <a href="/bubbles">
      <p class="bubble-link">
        <span class="icon">
          {% include bubbles.svg %}
        </span>
      </p>
    </a>

    <a href="/soundboard">
      <p class="bubble-link">
        <span class="icon">
          {% include speaker.svg %}
        </span>
      </p>
    </a>
  </div>
  <h3>Social Media</h3>
  <div class="some-section">
    <a href="http://twitter.com/kyloma">
      <span class="icon  icon--github"></span>
      <p class="bubble-link">Twitter (@kyloma)</p>
    </a>
    <a href="http://github.com/caseywatts">
      <span class="icon  icon--github"></span>
      <p class="bubble-link">Github (@caseywatts)</p>
    </a>
    <a href="https://www.linkedin.com/in/caseywatts">
      <p class="bubble-link">Linkedin (@caseywatts)</p>
    </a>
    <a href="https://www.instagram.com/kyloma/">
      <p class="bubble-link">Instagram (@kyloma)</p>
    </a>
    <a href="http://dctechslack.com/">
      <p class="bubble-link">DCTechSlack (@caseywatts)</p>
    </a>
  </div>
</div>
