<ul>
  <li class="bubble" id="bg2" data-xrange="40" data-yrange="90" data-invert="true" style="width:85px;height:85px;left:50px;top:300px;"></li>
  <li class="bubble" id="bg7" data-xrange="160" data-yrange="310" data-invert="false" style="width:20px;height:20px;left:20px;top:300px;"></li>
  <li class="bubble" id="bg8" data-xrange="80" data-yrange="30" data-invert="true" style="width:100px;height:100px;left:125px;top:140px;"></li>
  <li class="bubble" id="bg10" data-xrange="20" data-yrange="70" data-invert="true" style="width:40px;height:40px;left:190px;top:130px;"></li>
  <li class="bubble" id="bg14" data-xrange="60" data-yrange="70" style="width:40px;height:40px;left:70px;top:230px;"></li>
  <li class="bubble" id="bg15" data-xrange="100" data-yrange="100" style="width:130px;height:130px;left:130px;top:205px;"></li>
  <li class="bubble" id="bg16" data-xrange="130" data-yrange="60" style="width:80px;height:80px;left:10px;top:65px;"></li>
</ul>
