<div class="">
  <div class="bg-gray-100 mx-auto my-6 p-8 rounded-lg">
    <div class="flex justify-around">
      <div class="flex items-center">
        <img
          src="/headshot.jpg"
          height="150px"
          width="150px"
          class="rounded-full ring-8 ring-blue-500 m-7"
        />
        <div class="m-7">
          <h2 class="text-blue-500 text-5xl">Hi, I'm Casey!</h2>
          <p class="mt-6 prose prose-indigo">
            I'm all about helping people be
            <a href="/my-story">happy and effective.</a>
          </p>
        </div>
      </div>
    </div>
    <p class="prose prose-indigo mx-auto m-4">
      Casey has dual backgrounds in <b>psychology</b> and
      <b>software development</b>. He is the author of
      <a href="https://www.debuggingyourbrain.com">Debugging Your Brain</a>, an
      applied psychology and self-help book. He has worked in tech for 10+ years
      in many roles: Product Manager, Engineering Manager, and UX Developer.
    </p>
    <p class="prose prose-indigo mx-auto m-4">
      Want your team to be the happiest, most effective team around? Casey is
      uniquely capable of helping transform the culture of your tech team. Your
      company deserves Casey's support:
      <a href="/talks-and-workshops">keynote presentations</a>,
      <a href="/talks-and-workshops">workshops</a>, and coaching.
    </p>
  </div>
</div>
