<div class="">
  <div class="bg-gray-100 mx-auto my-6 p-8 rounded-lg">
    <div class="flex justify-around">
      <div class="flex items-center">
        <img
          src="/headshot.jpg"
          height="150px"
          width="150px"
          class="rounded-full ring-8 ring-purple-600 m-7"
        />
        <h2 class="m-7 text-purple-600 text-5xl">Hi, I'm Casey!</h2>
      </div>
    </div>
    <p class="prose lg:prose-xl prose-indigo mx-auto m-4">
      Want your team to be the happiest and most effective they can be? I'd love
      to help! Everywhere I have worked, my team became "the happy team" by the
      time I left, and yours can be too. Activate the latent potential of your
      team by leveraging my dual backgrounds in psychology and software
      development.
    </p>
    <p class="prose lg:prose-xl prose-indigo mx-auto m-4">
      You might know me from:
      <a
        class=""
        href="https://www.youtube.com/watch?v=nj3IoW_rboE&amp;list=PLsGBNq2i4TkLJUc2p5-p1T2LATcuP-Kx1"
        >my talks at tech conferences</a
      >,
      <a class="" href="https://www.debuggingyourbrain.com"
        >my book Debugging Your Brain</a
      >, <a class="bubble-link" href="/blog">my articles and blog posts</a>,
      <a
        class="bubble-link"
        href="https://www.greaterthancode.com/hosts/casey-watts"
        >co-hosting the Greater Than Code podcast</a
      >, or <a class="bubble-link" href="/bubbles">blowing bubbles</a>.
    </p>
  </div>
</div>
