<div id="debugging-your-brain" class="description-well-2 text-justify">
    <p>
        Casey Watts! studied neurobiology at Yale University, and he is a co-author on <a href="https://pubmed.ncbi.nlm.nih.gov/?term=Watts+and+Schafe">several neurobiology papers</a>. He has also worked in software development for 10 years, including at <a href="https://blog.heroku.com/authors/casey-watts">Heroku</a>. Casey is an independent author based in Washington, DC.
    </p>

    <div class="text-center" style="margin-bottom:1rem;">
        <img src="/headshot.jpg" style="height:6rem; border-radius: 100rem; margin:1rem;"/>
        <a href="https://www.debuggingyourbrain.com"><img src="/assets/DYBCoverRGB@2x.jpg" style="height:10rem; margin:1rem;"/></a>
    </div>
    
    <p>
        Casey is the author of <a href="https://www.debuggingyourbrain.com">Debugging Your Brain</a>. This book brings together two parts of Casey's background: <b>psychology and software development</b>. 
    </p>

    <p>
        Debugging Your Brain (DYB) is a clear applied psychology book and a concise self-help book. Whether or not you have a technical background, you will find the software development analogies approachable and insightful. You will likely reference and re-read DYB many times, each time discovering new insights.
    </p>



    <div class="some-section">
        <a class="bubble-link-2" href="https://www.debuggingyourbrain.com">Preview Debugging Your Brain</a>
    </div>
</div>