## Who has Casey worked with?

<table>
  <tr>
    <td>Companies</td>
    <td>
      <p id="gdcalert8"><span style="color: red; font-weight: bold">>>>>> gd2md-html alert: inline image link here (to images/image8.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br />(<a href="#">Back to top</a>)(<a href="#gdcalert9">Next alert</a>)<br /><span style="color: red; font-weight: bold">>>>>> </span></p>

      <img src="images/image8.png" width="" alt="alt_text" title="image_tooltip" />
    </td>
  </tr>
  <tr>
    <td>Community Groups</td>
    <td>
      <p id="gdcalert9"><span style="color: red; font-weight: bold">>>>>> gd2md-html alert: inline image link here (to images/image9.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br />(<a href="#">Back to top</a>)(<a href="#gdcalert10">Next alert</a>)<br /><span style="color: red; font-weight: bold">>>>>> </span></p>

      <img src="images/image9.png" width="" alt="alt_text" title="image_tooltip" />
    </td>
  </tr>
  <tr>
    <td>Conferences</td>
    <td>
      <p id="gdcalert10"><span style="color: red; font-weight: bold">>>>>> gd2md-html alert: inline image link here (to images/image10.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br />(<a href="#">Back to top</a>)(<a href="#gdcalert11">Next alert</a>)<br /><span style="color: red; font-weight: bold">>>>>> </span></p>

      <img src="images/image10.png" width="" alt="alt_text" title="image_tooltip" />
    </td>
  </tr>
  <tr>
    <td>Podcasts</td>
    <td>
      <p id="gdcalert11"><span style="color: red; font-weight: bold">>>>>> gd2md-html alert: inline image link here (to images/image11.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br />(<a href="#">Back to top</a>)(<a href="#gdcalert12">Next alert</a>)<br /><span style="color: red; font-weight: bold">>>>>> </span></p>

      <img src="images/image11.png" width="" alt="alt_text" title="image_tooltip" />
    </td>
  </tr>
  <tr>
    <td>Publications</td>
    <td>
      <p id="gdcalert12"><span style="color: red; font-weight: bold">>>>>> gd2md-html alert: inline image link here (to images/image12.png). Store image on your image server and adjust path/filename/extension if necessary. </span><br />(<a href="#">Back to top</a>)(<a href="#gdcalert13">Next alert</a>)<br /><span style="color: red; font-weight: bold">>>>>> </span></p>

      <img src="images/image12.png" width="" alt="alt_text" title="image_tooltip" />
    </td>
  </tr>
</table>
