// Sitewide Things
a {
  color: #574e88;
  g {
    fill: #574e88;
  }
}

a:visited {
  color: #433688;
  g {
    fill: #433688;
  }
}

a:hover {
  color: #bdb3f7;
  g {
    fill: #bdb3f7;
  }
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  clear: both;
}

// Sitewide Header bar
.site-header {
  background-color: $bubble-color-primary;
  border-top: 0;

  .icon path {
    fill: $grey-color-dark;
  }
  .icon g {
    stroke: $grey-color-dark;
  }
}

// Sitewide Footer bar
.site-footer {
  background-color: $bubble-color-accent;
}

// Sitewide // background
.bubble {
  background: $bubble-color-accent;
  background-image: url('../assets/images/glow3.png');
  background-size: 100% 100%;

  border-radius: 1000px;
  box-shadow: 0 0 5px 0 $bubble-color-primary inset;

  list-style: none;

  position: fixed;
  z-index: -1;
}


// Post Index Specific
.tagline {
  font-size: .6em;
}

.description-well {
  background-color: $bubble-color-accent;
  border: 1px solid $bubble-color-primary;
  border-radius: 100px;
  padding: 30px;
  text-align: center;
}


// Post Show Specific
.post-content .righty {
  float: right;
  margin: 8px;
}

.post-content img {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}
// image with caption

.post-content img + em {
  display: block;
  text-align: center;
}


$mobile: new-breakpoint(max-width 500px 12);

.post {
  @include outer-container;
  .side-column {
    @include span-columns(3);
    @include media($mobile) { display: none; @include span-columns(0); }
  }
  .main-column {
    @include span-columns(9);
    @include media($mobile) { @include span-columns(12); }
  }
}


#toc {
  background: #fff; // don't let the background be transparent
}

h2, h3, h4 {
  margin-top: 75px;
}

.post-list {
  h2, h3, h4 {
    margin-top: 0px;
  }
}

.description-well-half {
  @extend .description-well;
  display: inline-block;
  width: 49%;
}

.description-well-quarter {
  @extend .description-well;
  display: inline-block;
  width: 24%;
}

.some-section {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.bubble-link {
  margin: 10px;
  background-color: $bubble-color-accent;
  border: 1px solid $bubble-color-primary;
  border-radius: 100px;
  padding: 30px;
  text-align: center;
  flex:1;
}


// tables
table {
  border-spacing: 0px;
  margin: 25px;
}
td {
  padding: 10px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}
