// Sitewide Things
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  clear:both;
}

.site-header {
  background-color: #F9F8FF;
  border-top: 0px;
}

// Sitewide Header bar
.site-header .icon path {
  fill: $grey-color-dark;
}



// Sitewide // background
.bubble {
  opacity: .5;
  z-index: -1;
  list-style:none;
  background:rgba(249,248,255,1); // same as #F9F8FF
  border-radius:1000px;
  box-shadow: 0px 0px 5px 0px #E2DDFF inset;
  background-image:url(../assets/images/glow3.png);
  background-size: 100% 100%;
  position:fixed;
}


// Post Index Specific
.tagline {
  font-size: .6em;
}


// Post Show Specific
img.righty {
  float:right;
  margin:8px;
}

.post {
  @include outer-container;
  .side-column { @include span-columns(3); }
  .main-column { @include span-columns(9); }
}

#toc {
  background: #FFFFFF; // don't let the background be transparent
}
