.tagline {
  font-size: .6em;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  clear:both;
}

img.righty {
  float:right;
  margin:8px;
}

.post {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}
